<div class="my-3 p-3 bg-white rounded shadow-sm">

  <div class="row align-items-center text-center">
    <div class="col-md-4">
      <div class="rounded-circle">
        <%= image_tag user.profile_image, height: 80, class: "rounded-circle" %>
      </div>
    </div>
    <div class="col-md-4">
      <%= user.full_name %>
    </div>
    <div class="col-md-4">
      <% if current_user.follows?(user) %>
      <%= link_to "Seguindo", user_follow_path(user, current_user), method: :delete, class: "btn rounded-pill btn-outline-primary py-2 m-2" %>
      <% else %>
      <%= link_to " + Seguir", user_follows_path(user), method: :post, class: "btn rounded-pill btn-outline-primary py-2 m-2" %>
      <% end %>
    </div>
  </div>



</div>
