<nav class="navbar fixed-bottom bg-white d-lg-none pb-4">
  <h3><a class="px-4 py-2 text-secondary border-top" href="/posts"><i class="fas fa-home"></i></a></h3>
  <h3><a class="px-4 py-2 text-secondary " href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></a></h3>
  <h3><a class="px-4 py-2 text-secondary " href="/"><i class="fas fa-user"></i></a></h3>
</nav>
