<div style="height: 80px">
</div>
<nav class="navbar fixed-bottom bg-white d-md-none pb-4">
  <%= link_to root_path, class: "h2 px-4 text-secondary" do %>
    <i class="las la-home"></i>
  <% end %>
  <a class="h2 px-4 text-primary" href="#" data-toggle="modal" data-target="#new-post-modal"><i class="las la-plus"></i></a>
  <%= link_to current_user, class: "h2 px-4 text-secondary" do %>
    <i class="las fa-user"></i>
  <% end %>
</nav>
