<nav class="navbar fixed-bottom bg-white d-md-none pb-4">
  <a class="h2 px-4 text-secondary" href="#top"><i class="las la-arrow-up"></i></a>
  <a class="h2 px-4 text-primary" href="#" data-toggle="modal" data-target="#exampleModal"><i class="las la-plus"></i></a>
  <a class="h2 px-4 text-secondary" href="/"><i class="las fa-user"></i></a>
</nav>
