<nav class="navbar fixed-bottom navbar-light bg-white d-lg-none shadow">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
  <a class="navbar-brand" href="#"><i class="fas fa-plus"></i></a>
  <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>
</nav>
