<header class="navbar sticky-top navbar-light bg-white p-0  ">
  <div class="col-2">
    <a class="m-0 text-muted" href="javascript:history.back()"><i class="fas fa-chevron-left"></i></a>
  </div>
  <div class="col-8 text-center">
    <%= link_to "💬 Recomendo 👌", root_path, class:"navbar-brand m-1" %>
  </div>
  <div class="col-2 text-right">
    <a class="m-0 text-muted" href="/posts"><i class="fas fa-ellipsis-v"></i></a>
  </div>
</header>
