<div class="p-3 bg-white border-radius-1 shadow text-center">

<!-- <ul class="nav nav-pills nav-fill w-100">
  <li class="nav-item">
    <a class="nav-link rounded-pill active" href="#">Pessoas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link rounded-pill disabled" href="#">Postagens</a>
  </li>
</ul>

<div class="m-4"></div> -->

  <%= form_with url: search_path, remote: true, method: :get, html: { class: "" } do |form| %>
    <%= form.text_field :q, placeholder: " Procurar", class: "form-control bg-creamy h4 m-0", id:"input" %>
  <% end %>


</div>


<div id="search-result">
  <%= render partial: "/users/user", collection: @users %>
</div>



<script>
var spinner = `
<div class="text-center my-5 text-primary" style="opacity:0.2">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
`
function delay(fn, ms) {
  let timer = 0
  return function(...args) {
    clearTimeout(timer)
    timer = setTimeout(fn.bind(this, ...args), ms || 0)
  }
}

$( "#input" ).keyup(function() {
  $("#search-result").html(spinner);
});

$('#input').keyup(

  delay(function (e) {
  console.log('Time elapsed!', this.value);

  $.get( "<%= search_path %>.js", $(this).serialize() );
}, 400));

</script>
