<%= render 'shared/filters' %>

<% if @posts.empty? %>
<div class="text-center">
  <div class="my-5 p-5 bg-white border-radius-1 box-shadow text-center d-inline-block">
    <button type="button" data-toggle="modal" data-target="#new-post-category" class="btn btn-lg btn-outline-primary">
      <i class="las la-plus h3"></i><br>
      Recomende algo!
    </button>
  </div>
</div>
<% end %>

<div class="row row-cols-1 row-cols-md-2 my-3">
  <%= render partial: "post", collection: @posts %>
</div>
