<div class="card">
  <div class="card-header">
    <span class="h5"><%= @post.title %></span>
    <%= link_to "#", class: "float-right", data: {toggle:"modal", target:"#exampleModal"} do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </div>

  <div class="card-body">
    <% if @post.url %>
      <%= link_to @post.url, class: "" do %>
      Abrir link <i class="fas fa-angle-right"></i>
      <% end %>
    <% end %>
    <p class="card-text">
      <%= @post.body %>
    </p>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
