 body {
   // background-color: #f7f6f9;
   background-color: #FFEAE4;
   // font-family: sans-serif;
 }

 .modal-content {
   border-radius: 1rem;
 }

 .navbar {
   box-shadow: .3125rem .3125rem .875rem 0.3rem rgba(129,129,129,.2);
   // border-radius: .5rem;
   border: 1px solid transparent;
   // border-radius: 8px;
   // box-shadow: 0 4px 8px 3px rgba(60,64,67,.15);
 }

 .custom-box {
   background-color: #fff;
   padding: 1rem;
   border-radius: 8px;
   box-shadow: 0 4px 8px 3px rgba(60,64,67,.15);
 }

 .box-shadow {
   box-shadow: 0 4px 8px 3px rgba(60,64,67,.15);
 }

 .border-radius-1 {
   border-radius: 1rem;
 }

 body.modal-open > :not(.modal) {
     -webkit-filter: blur(2px);
     -moz-filter: blur(2px);
     -o-filter: blur(2px);
     -ms-filter: blur(2px);
     filter: blur(2px);
 }

 .form-control {
   color: inherit;
   border-radius: 1rem;
 }

 .btn-circle {
   width: 40px;
   height: 40px;
   padding: 10px;
   text-align: center;
   border-radius: 100%;
   font-size: 1.3rem;
   line-height: 1.3rem;
 }

 .font-poppins {
   font-family: 'Poppins', sans-serif !important;
 }

 .form-group.required > label:first-child:after {
   content: '*';
   margin-left: 2px;
 }

 .overflow-auto::-webkit-scrollbar {
  display: none;
}
