// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-top-filme {
  border-top: solid .3125rem #eb6b56 !important;
}
.border-top-livro {
  border-top: solid .3125rem #3d8eb9 !important;
}
.border-top-seriado {
  border-top: solid .3125rem #a38f84 !important;
}
.border-top-podcast {
  border-top: solid .3125rem #28324e !important;
}
.border-top-outro {
  border-top: solid .3125rem #efefef !important;
}

.border-left-filme {
  border-left: solid .3125rem #eb6b56 !important;
}
.border-left-livro {
  border-left: solid .3125rem #3d8eb9 !important;
}
.border-left-seriado {
  border-left: solid .3125rem #a38f84 !important;
}
.border-left-podcast {
  border-left: solid .3125rem #28324e !important;
}
.border-left-outro {
  border-left: solid .3125rem #efefef !important;
}
